.events-page{
    margin: 120px 12% 0px 12%;
    width: 76%;
    display: flex;
    flex-direction: column;
    color: white;
}

.filter-button{
    border: 2px solid lightgray;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    width: 140px;
    height: 45px;
    cursor: pointer;
    margin-left: 50px;
    transition: 0.2s;
    user-select: none;
}

.filter-button:hover{
    background-color: #64379b;
    border-color: #5a12b1;
}

.events-page-grid{
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    margin-top: 10px;
    width: 100%;
}

.category-circle-card{
    border: 0px solid black;
    background-color: white;
    border-radius: 300px;
    padding: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.2s;
    width: auto;
    height: auto;
}

/* Menu lateral */
.background-filters-menu{
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.712);
    z-index: 200;
    display: flex;
    flex-direction: row;
}

.filters-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    background-color: #17181e;
    color: white;
    padding: 1%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    animation: slide-in 0.2s ease-out;
}
  
.close-button {
    background: none;
    border: none;
    color: white;
    font-size: 36px;
    cursor: pointer;
}
  
.filters-options {
    margin-top: 32px;
}
  
/* Animação do menu lateral */
@keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
}

.apply-filter-button{
    font-size: 18px; 
    width: 160px;
    height: 35px; 
    cursor: pointer; 
    background-color: #64379b; 
    color: white;
    border: 0;
    border-radius: 5px; 
    font-family: 'Lato Bold';
    transition: 0.2s;
}

.apply-filter-button:hover{
    background-color: #64379bb4;
}

.select-category{
    font-size: 20px;
    padding: 5px 10px;
    margin-top: 10px;
    width: 200px;
    border: 2px solid white;
    outline: none;
    border-radius: 50px;
    background-color: #17181e;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.select-category:hover{
    border-color: #64379b;
}