.my-events-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    margin-top: 10px;
}

.content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 10% 50px 10%;
    flex-grow: 1;
}

.my-events-title{
    font-size: 32px;
    color: white;
    font-family: 'Lato Bold';
}

.my-event-div{
    background-color: #64379b;
    color: white;
    padding: 20px 10px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 180px;
    cursor: pointer;
    transition: 0.2s;
}

.my-event-div-disabled{
    background-color: #8c809b;
    color: white;
    padding: 20px 10px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 180px;
    cursor: pointer;
    transition: 0.2s;
}

.my-event-div:hover{
    transform: scale(1.05);
}

.my-event-info{
    text-align: center;
    width: 100%;
}

.event-card-title{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
    margin-bottom: 10px;
}



/* ------------ my-event page ---------- */
/* ------------ my-event page ---------- */


.my-event-page{
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.my-event-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-event-bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.event-info-card{
    background-color: #64379b;
    color: white;
    padding: 20px 20px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    transition: 0.2s;
    width: 50%;
    max-width: 50%;
}

.event-info-card-title{
    margin-bottom: 3px;
}

.event-info-card-text-div{
    margin-left: 10px;
}

/* input range */

.range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #64379b 0%, #e0e0e0 0%);
    border-radius: 5px;
    outline: none;
    overflow: hidden;
    transition: 1s;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background: transparent;
    border-radius: 5px;
  }

  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 10px;
    background: transparent;
    border-radius: 5px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 10px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 10px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }